ul{
  list-style: none;
  margin-left: 0;
  display: flex;
}

ul>li>a{
  text-decoration: none;
  margin-right: 5px;
  color: black;
  font-weight: 700;
  transition: 0.5s linear;
}

ul>li>a:hover{
  color: orange;
}